<h1>Questions#ask</h1>

<form action="/answer" method="get">
    <label for="question">Enter your question: </label>
    <input type="text" name="question">
    <input type="submit" class="button">
</form>


